@{
    Layout = "_LoginLayout";
}
@model LoginViewModel


<div class="container-fluid" style="height:690px">
        <div class="row h-100">
            <div class="col-12 col-sm-12 col-md-7 d-md-block d-none" style="background-image:url('/images/bg.jpg'); background-size:cover">
            </div>
            <div class="h-auto col-12 col-md-5">
                <div class="row h-100">
                    <div class="card h-100  m-auto  col-12 col-sm-6 col-md-12 ">
                        <div class="card-header header-elements-inline">
                            <h5 class="card-title"><i class="icon-user mr-2"></i> Giriş</h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form asp-action="Login">
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Username:</label>
                                                        <input asp-for="UserName" placeholder="Username" class="form-control">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Parol:</label>
                                                        <input asp-for="Password" type="password" placeholder="Parol" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="text-right">
                                    <button type="submit" class="btn btn-warning">Giriş</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>



