@{
    Layout = "_LoginLayout";
}
@model LoginViewModel

<div class="card m-3  m-auto  col-xl-3 col-md-4 col-sm-8 col-10">
    <div class="card-header header-elements-inline">
        <h5 class="card-title"><i class="icon-user mr-2"></i> Giriş</h5>
        <div class="header-elements">
            <div class="list-icons">
            </div>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Login">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Username:</label>
                                    <input asp-for="UserName" placeholder="Username" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Parol:</label>
                                    <input asp-for="Password" type="password" placeholder="Parol" class="form-control">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Giriş <i class="icon-paperplane ml-2"></i></button>
            </div>
        </form>
    </div>
</div>


