@model List<School.ViewModels.MessageListViewModel>
            
@foreach (var item in Model)
{
    <li class="media" data-id="@item.UserId">
        <div class="mr-3 position-relative">
            <img src="~/users/@item.PhotoUrl" width="36" height="36" class="rounded-circle" alt="">
        </div>

        <div class="media-body">
            <div class="media-title">
                <a href="#">
                    <span class="font-weight-semibold">@item.UserName</span>
                    <span class="text-muted float-right font-size-sm">@item.Messages.FirstOrDefault().Date.ToString("HH:mm")</span>
                </a>
            </div>

            <span class="text-muted">@item.Messages.FirstOrDefault().Content</span>
        </div>
    </li>
}
